*{
    font-family: "Edu AU VIC WA NT Dots";
    color:#815629
}

.all{
    font-family: "Fredoka", sans-serif"
    
}
.Doggy{
    border: none;
    background-color:#f8d5b0;
    font-family: "Fredoka", sans-serif;
    font-size: 1rem;
    margin: 5px;
    padding: 15px;
    border-radius: 40px;
    color:#473828;
    transition:all 0.3s ease-in-out;
    
}

.Doggy:hover{
    background-color: #4c341a;
    color: #d8ba9a;
    cursor: pointer;
}
body{
    background-image:url(./Pagepics/Background.jpeg);
    background-repeat: no-repeat;
    background-size:cover;

}
.FormInput{
    text-align: center;
    color: #815629;;
  font-family: "Playwrite GB S",cu;
  font-optical-sizing: auto;
 
}


.FormTittle{
    text-align: center;
    justify-content: center;
    color: #815629;
}
