*{
    font-family: "Edu AU VIC WA NT Dots";
    color:#815629
}

.nav{
    align-items: center;
    margin: 15%;
}
.all{
    font-family: "Edu AU VIC WA NT Dots";
    color: #6D6027;
}
.Doggy{
    border: none;
    background-color:#f8d5b0;
    font-size: 1rem;
    margin: 5px;
    padding: 15px;
    border-radius: 40px;
    color:#6D6027;
    transition:all 0.3s ease-in-out;
    text-decoration: none;
    
}

.Doggy:hover{
    background-color: #4c341a;
    color: #d8ba9a;
    cursor: pointer;
}
body{
    background: linear-gradient(to bottom, #ada996, #f2f2f2, #dbdbdb, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    background-repeat: no-repeat;
    background-size: cover;

}

.Fristittle{
    text-align: center;
    color: #6D6027;
    text-decoration: dotted;
    text-decoration-color: black;
    font-size: 40px;
}

.subtittle{
    text-align: center;
    font-size: 22px;
   }
    

.HSform{
    text-align: center;
    color: #f8e4d0;;
}
